doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/images/message.svg", type="image/svg+xml")
    link(rel="mask-icon", href="/images/message.svg" color="#6464ff")
    title= title
  body.flex-col
    header
      nav.navbar
        ul.flex.wrapper
          li.nav-home
            a(href="/") #[span Members]#[span Only]  
          if !currentUser 
            li 
              a.nav-link(href="/sign-up") Sign Up
            li 
              a.nav-link.login(href="/log-in") Log In
          else 
            li
              a.nav-link(href="/message/new") New Message
            li.menu-container
              input#menu-toggle(type="checkbox")
              label.menu-button-container(for="menu-toggle") 
                div.menu-button
              ul.menu
                li
                  p= currentUser.firstName
                li
                  p.grey= currentUser.email
                li
                  a.nav-link(href="/log-out") Log Out
    main.wrapper
      block content

    block foot
      footer.flex
        span Copyright © 2023
        a(href='https://github.com/cjfaquino', target='_blank', rel='noreferrer') cjfaquino
        img(src="/images/github-mark.svg", alt="github icon")
