doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    header
      nav
        ul 
          li
            a(href="/") MembersOnly  
          if !currentUser 
            li 
              a(href="/sign-up") Sign Up
            li 
              a(href="/log-in") Log In
          else 
            li
              a(href="/message/new") New Message
            li 
              p= currentUser.firstName
              p= currentUser.email
              a(href="/log-out") Log Out

    block content
