extends layout 

block content 
  h1= title 
  form(action="", method="post") 
    label(for="title") Title 
      input#title(type="text", name="title")
    label(for="text") Message 
      textarea#text(name="text") 
    button(type="submit") Create