extends layout 

block content 
  h1= title 
  form(action="", method="post") 
    label(for="firstName") First Name
      input#firstName(type="text", name='firstName' value=(undefined===user ? '' : user.firstName)) 
    label(for="lastName") Last Name
      input#lastName(type="text", name='lastName' value=(undefined===user ? '' : user.lastName)) 
    label(for="email") Email 
      input#email(type="email", name='email'  value=(undefined===user ? '' : user.email))
    label(for="password") Password
      input#password(type="password", name='password')
    label(for="confirmPass") Password
      input#confirmPass(type="password", name='confirmPass')
    
    button(type="submit") Sign Up

  if errors
    ul 
      for err in errors 
        li!= err.msg