:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --theme-rgb: 100, 100, 255;
  --theme-color: rgb(var(--theme-rgb));
  --wrapper-width: 1200px;
  --footer-height: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
}

body > * {
  width: 100%;
}

h1 {
  text-align: center;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  --wrapper-padding: 10px;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.grey {
  color: rgb(160, 160, 160);
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.navbar ul {
  max-width: var(--wrapper-width);
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.navbar a {
  display: block;
  padding: 10px;
}

.navbar {
  font-size: clamp(10px, 3vw, 1rem);
}

.nav-home {
  margin-right: auto;
  margin-left: 0;
  font-weight: 900;
  font-size: 1.4rem;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.nav-home a {
  padding-left: 0;
}

.nav-home span:last-child {
  color: black;
}

.nav-link {
  background-color: var(--theme-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: rgb(80, 80, 255);
}

.login {
  background-color: white;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.login:hover {
  background-color: rgb(235, 235, 235);
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu > li > p {
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
}

.menu p {
  margin: 0;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--theme-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* nav breakpoint */
@media (max-width: 850px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    display: none;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  #menu-toggle:checked ~ .menu li {
    height: fit-content;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li:first-child {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .menu > li {
    display: flex;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }

  .menu > li > p {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  .menu a {
    width: 100%;
  }
}

.messages {
  gap: 30px;
}

.messages hr {
  border: 1px solid rgb(245, 245, 245);
}

.messages li {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.message-name {
  margin-top: -20px;
}

.message-info {
  font-size: 0.8rem;
  gap: 20px;
  align-items: center;
}

.message-info form {
  margin-left: auto;
  margin-right: 10px;
}

.btn-delete {
  all: initial;
  cursor: pointer;
  height: 20px;
}

.btn-delete img {
  height: 100%;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.btn-delete img:hover {
  opacity: 0.5;
}

.forms {
  --forms-border-radius: 5px;
  gap: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.forms label {
  color: rgb(155, 155, 155);
  border: 1px solid black;
  border-radius: var(--forms-border-radius);
  padding: 5px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.forms label:focus-within,
.forms label:focus-visible {
  border-color: var(--theme-color);
  color: var(--theme-color);
}

.forms input,
.forms textarea {
  width: 100%;
  min-height: 40px;
  padding: 0 5px;
  font-size: 1rem;
  border: none;
  border-radius: var(--forms-border-radius);
}

.forms textarea {
  resize: vertical;
  padding: 5px;
  min-height: 120px;
}

.forms input:focus,
.forms textarea:focus {
  outline: none;
}

.forms button {
  cursor: pointer;
  height: 40px;
  background-color: var(--theme-color);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: var(--forms-border-radius);
}

.new-message-form {
  max-width: 640px;
}

.pagination {
  --border: 1px solid rgba(128, 128, 128, 0.5);
  --border-radius: 5px;
  justify-content: center;
  margin: 40px 0;
}

.pagination li a {
  color: inherit;
  display: block;
  height: 100%;
  min-width: 42px;
  padding: 10px;
}

.pagination li {
  color: rgb(56, 56, 56);
  text-align: center;
  border: var(--border);
  border-right: 0 solid;
  transition: background-color 0.2s ease-in-out;
}

.pagination li:hover {
  background-color: rgb(240, 240, 240);
}

.pagination li:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.pagination li:last-child {
  border-right: var(--border);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.pagination li.active {
  color: var(--theme-color);
  background-color: rgba(var(--theme-rgb), 0.15);
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}

.pagination li.active a {
  box-shadow: 0 0 0 1px var(--theme-color);
}

.pagination li.active:hover {
  background-color: rgb(240, 240, 240);
}

footer {
  margin-top: auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 2px;
}

footer img {
  height: 20px;
}
